.form {
  position: relative;
  background: #F6F6F6;
  width: 250px;
  height: 240px;
  &:hover{
    transition:  1s;
    background-color: #eaeaea;
    cursor: pointer;
  }
  &__img {
    position: absolute;
    margin: 12px 0 0 5px;
  }
}
.d-flex {
 &__mt {
   margin-top: 24px;
 }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.d-flex__mt a p {
  color: #000000a6;
  margin-top: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  &:hover{
    transition: color 1s;
    color: #000000;
    cursor: pointer;
  }
}
.d-flex__mt a {
  padding-right: 20px;
  margin-left: -5px;
}

@media (max-width: $hd) {
  .d-flex {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0 auto;
    }
    &__all {
      margin-right: 20px;
    }
  }
  .justify-content-between {
    width: 100%;
  }
}

@media (max-width: $lgx) {
  .d-flex {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 auto;
    }
  }
}
@media (max-width: $lg) {
  .d-flex {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }
  }
}
@media (max-width: $md) {
  .d-flex {
    &__grid {
      display: grid;
      grid-template-columns: 1fr;

    }
    &__grid a {
      padding-right: 0;
    }
  }
}