.dropbtn {
  font-size: 16px;
  border: none;
  background-color: $white;
  margin-bottom: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: $white;
  border-radius: 2px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: $lightgray;}
.dropdown:hover .dropdown-content {display: block;}

@media (max-width: $mdx){
  .dropdown-content {
    right: 0px;
  }
}