.container {
  &__drop {
    left: 0;
    padding-left: 32px;
    margin: 60px 0 0 0;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    color: #000000A6;
    box-shadow: 0 20px 25px 5px rgba(0, 0, 0, .05);
  }
}

.drop-menu {
  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    &:hover{
      transition: color 1s;
      color: #000000;
      cursor: pointer;
    }
  }
}
.col {
  &__menu{

  }
}
.btn{
  &__drop-btn {
    font-size: 8px;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #fff;
    width: 56px;
    height: 24px;
    border-radius: 2px;
    padding: 0;
    letter-spacing: 1.5px;
    font-weight: 800;
  }
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
.drop-position {
  position: relative;
  padding-bottom: 8px;
}


.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(2, 0.5, 0.8, 1);
}
