@import './color';
.footer {

}
.col {
  &__header {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding-bottom: 16px;
  }
  &__contacts {
    font-size: 12px;
    letter-spacing: 0.4px;
    margin-bottom: -20px;
  }
  &__social {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  &__url {
    padding-right: 100px;
  }
  &__opinion {
    padding-top: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
.nav-link{
  &__footerIcon {
    margin: 0 5px;
  }
  &__footerPolitics {
    margin: 0 0 0 16px;
    text-decoration: none;
    color: black;
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
  }
}
.container {
  &__paddingFooter{
    padding-top: 14px;
  }
}
.btn{
  &__settings {
    width: 150px;
    height: 32px;
    background-color: #fff;
    transition-duration: 0.4s;
    border: 1px solid #000;
    border-radius: 3px;
    &:hover {
      background-color: #000;
      color: white;
    }
  }
}

.row {
  &__footerEnd {
    padding-right: 160px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding-bottom: 16px;
  }
}