.furniture {
  &__main {
    display: flex;
  }
  &__carousel {
  }
  &__btn {
    margin-top: 40px;
    width: 150px;
    height: 32px;
    background-color: #fff;
    transition-duration: 0.4s;
    border: 1px solid #000;
    border-radius: 3px;
    &:hover {
      background-color: #000;
      color: white;
    }
  }
  &__left {
    text-align: center;
  }
  &__title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  &__text {
    margin-top: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  &__slider {
    width: 800px;
    margin-right: 0px;
  }
}
@media (max-width: $hd){
  .furniture {
    &__main {
      display: flex;
      flex-direction: column;
    }
    &__slider {
      margin: 0 auto;
      width: 100%;
    }
    &__left {
      margin: 64px 0 32px 0;
    }
  }
}