.d-flex {
  &__right {
    height: 300px;
    margin: 38px 0 62px 0;
  }
}
.col {
  position: relative;
  &__ignore{
    position: absolute;
    right: 0;
    width: 850px;
  }
}
.btn {
  &__furniture {
    margin-top: 40px;
    width: 150px;
    height: 32px;
    background-color: #fff;
    transition-duration: 0.4s;
    border: 1px solid #000;
    border-radius: 3px;
    &:hover {
      background-color: #000;
      color: white;
    }
  }
}
.col-left {
  margin-top: 24px;
  width: 750px;
  text-align: center;
  &__title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  &__text {
    margin-top: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}