@import './color';

.navbar {
  &__header{
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 6px;
    font-size: 12px;
  }
  &__headerSecond {
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 6px;
  }
  &__left {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-right: 100px !important;
  }
  &__downHeader {
    font-size: 16px;
  }
}
.nav-link {
  &__secondHeader {
    padding: 12px !important;
  }
}
.navbar-nav {
  &__ma {
    margin: 0 auto;
  }
  &__secondMa {
    padding-left: 10px;
  }
}
.hr {
  width: 100%;
  margin: 0 auto;
}
.input-group{
  &__search {
    width: 250px;
    height: 30px;
  }
  &__searchInput {
    background-color: #F6F6F6;
  }
}

@media (max-width: 991.98px) {
}
