@import './color';
.offers {
  width: 314px;
  height: 450px;
  position: relative;
  padding: 0;
  margin: 24px 16px 24px 0;
  &__img {
    width: 100%;
    height: 320px;
    background: #f6f6f6;
    transition: background-color 1s;
    &:hover {
      background-color: #eaeaea;
    }
  }
  &__hover {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    &:hover {
      background-color: #ffffff;
      transition: 1s;
    }
  }
  &__heart {
    margin: 8px 6px 6px;
  }
  &__btn{
    left: 4px;
    top: 4px;
    position: absolute;
    height: 24px;
    background-color: #000000;
    transition-duration: 0.4s;
    border: 1px solid #000;
    border-radius: 3px;
    font-weight: 600;
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 1.5px;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
  &__title {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    letter-spacing: 0.5px;
  }
  &__info {
    margin: 16px 0 16px 0;
  }
  &__price p{
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 0;
  }
  &__price span{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-decoration-line: line-through;
    color: $gray;
  }
  &__size {
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  &__col {
    width: 32px;
    height: 32px;
    border: 1px solid $gray;
    margin-right: 12px;
    text-decoration: none;
    color: $black;
    &:hover {
      border: 1px solid $black;
      transition: 1s;
    }
  }
  &__col span {
    margin: 0 0 0 -4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
  &__png {
    margin-left: -12px;
  }
  &__cart{
    right: 5px;
    width: 28px;
    height: 28px;
    border-radius: 10%;
    &:hover {
      stroke: white;
      background-color: $black;
      transition: 1s;
    }
  }
  svg path {
    fill:$black;
  }
  &__svg-hover{
    margin: 2px 4px;
    &:hover * {
      background-color: #fff;
      fill: #ffffff;
      transition-duration: 1s;
    }
  }
  &__d-flex {
    margin: 16px 0 0 12px;
    display: flex;
    justify-content: space-between;
  }
  &__btn-in-cart {
    width: 90px;
    height: 32px;
    background-color: $black;
    transition-duration: 0.5s;
    border: 1px solid #000;
    border-radius: 3px;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $white;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}
@media (max-width: $hd){
  .offer {
    margin: 0 auto 48px;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: $xsx){
  .offer {
    margin: 24px 0 48px 0;
    &__img-main {
      width: 100%;
      height: 100%;
    }
  }
  .offers {
    width: 314px;
    height: 450px;
    position: relative;
    padding: 0;
    margin: 24px 0 34px 0;

  }
}

@media (max-width: $xs){

  .offer {
    margin: 24px 0 24px 0;
    &__img-main {
      width: 100%;
      height: 100%;
    }
  }
}
