.container-title {
 display: flex;
 color: $white;
 font-weight: 400;
 font-size:1.5vw;
 line-height: 32px;
 text-transform: uppercase;
 &__main {
  margin: 10px auto;
 }
 &__img {
  width: 100%;
  height: auto;
 }
 &__left {
  position: relative;
 }
 &__right {
  position: relative;
 }
 &__content {
  position: absolute;
  top: 40%;
  left: 35%;
 }
 &__left img {
  width: 100%;
  height: auto;
  padding-right: 8px;
 }
 &__right img {
  width: 100%;
  height: auto;
  padding-left: 8px;
 }
 &__button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 46px;
  color: $white;
  border-radius: 2px;
  background: none;
  border: 1px solid $white;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;
  text-transform: uppercase;
 }
}
@media (max-width: $lg){
 .container-title {
  &__button {
   display: none;
  }
 }
}