.container-collection {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  &__main {
    margin-top: 64px;
  }
  &__img-container {
    margin-left: -12px;
  }
  &__img {
    width: 100%;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: auto;
    height: auto;
    transition: background-color 1s;
    margin: 16px 16px 16px 0;
    border: 1px solid $lightgray;
    &:hover{
      background-color: $lightgray;
      cursor: pointer;
      border: 1px solid $black;
      transition: 1s;
    }
  }
  &__more {
    width: 95px;
    height: 92px;
    transition: background-color 1s;
    margin: 16px 0 16px 0;
    border: 1px solid $lightgray;
    &:hover{
      background-color: $lightgray;
      cursor: pointer;
      border: 1px solid $black;
      transition: 1s;
    }
  }
  &__p {
    width: 96px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
  }
  &__brand-price {
    display: flex;
    justify-content: space-between;
  }
  &__brand {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-size: 0.9vw;
  }
  &__price {
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-size: 0.9vw;
  }
}

@media (max-width: $hd){
  .container-collection {
    &__main {
      margin-top: 34px;
    }
    &__img-container:first-child{
      margin-right: 20px;
    }
    &__brand {
      font-size: 1.5vw;
    }
    &__price {
      font-size: 1.5vw;
    }
  }
}
@media (max-width: $lgx){
  .container-collection {
    display: flex;
    flex-direction: column;
    &__main {
      margin-top: 14px;
    }
    &__img-container {
      width: 85%;
      margin: 0 auto;
    }
    &__img-container:first-child{
      margin: 0 auto;
    }
  }
}
@media (max-width: $mdx){
  .container-collection {
    &__box {
    }
    &__icon {
      margin: 6px 6px 6px 0;
    }
    &__icon:last-child{
      display: none;
    }
    &__more {
      margin: 6px 6px 6px 0;
    }
  }
}
@media (max-width: $md){
  .container-collection {
    &__main {
      margin-top: 12px;
    }
    &__icon {
      margin: 6px 6px 6px 0;
      width: 65px;
      height: 65px;
    }
    &__icon:first-child{
      display: none;
    }
    &__icon:last-child{
      display: none;
    }
    &__more {
      width: 65px;
      height: 65px;
    }
    &__p {
      margin-top: 16px;
      margin-left: -18px;
    }
  }
}
@media (max-width: $xs){
  .container-collection {
    &__main {
      margin: 16px auto;
    }
  }
}