.offers {
  width: 330px;
  height: 450px;
  position: relative;
  &__img {
    width: 330px;
    height: 320px;
    background: #f6f6f6;
  }
  &__btn{
    left: 16px;
    top: 4px;
    position: absolute;
    width: 78px;
    height: 24px;
    background-color: #000000;
    transition-duration: 0.4s;
    border: 1px solid #000;
    border-radius: 3px;
    font-weight: 600;
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 1.5px;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
  &__title {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  &__info {
    margin-bottom: 16px;
  }
}