@import './color';
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.recent-col {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0 0;
  &__main {
    display: flex;
    margin-bottom: 10px;
  }
  &__img-container {

    margin-right: 16px;
    width: auto;
    height: 100%;
    background-color: $lightgray;
    transition: background-color 1s;
    &:hover {
      background-color: $gray;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 8px;
    color: $black;
  }
  &__title p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  &__title a {
    text-decoration: none;
  }
}
@media (max-width: $lg){
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: $mdx){
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $xsx){
  .recent-col {
    &__main:last-child {
      display: none;
    }
    &__main:first-child {
      display: none;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: $xs){
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
